<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <div class='form-group'>
        <% links.each do |link| %>
            <a href="<%= link %>" class='btn btn-block btn-info'><%= link.capitalize %></a> <br>
        <% end %>
      </div>
  </div>
</div>
