<!doctype html>
<html>

<head>
  <title>My System info</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>

<body>
<header>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
           <em><b>MY SYSTEM INFO for MAC</b></em>
        </div>
      </div>
    </div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class='col-md-12 text-center'>
        <%= yield %>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class='text-center'>&#169;2014 System info by Rudolf Kovalyov</div>
</footer>
</body>
</html>
